upstream/
.tools/
.gradle/
.gradle-user/
.android-user/
.local/
.idea/
.vscode/
**/build/
**/.cxx/
**/local.properties
artifacts/
captures/
*.iso
*.wbfs
*.rvz
*.dol
*.rel
*.apk
*.aab
*.so
*.a
*.keystore
*.jks
private/
