<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <activity android:name=".GameActivity" android:exported="false" android:process=":game"
            android:screenOrientation="sensorLandscape" android:hardwareAccelerated="true"
            android:configChanges="layoutDirection|locale|grammaticalGender|fontScale|fontWeightAdjustment|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation" />
        <activity android:name=".ImportActivity" android:exported="true" android:process=":import" />
    </application>
</manifest>

